%img{:src => "http://www.yves-rocher.fr/images/header/fr_FR/header-logo-yr.gif"}/
%br
%br
.alert.alert-info
  %h4 Please fill in your personal information
%form.form-horizontal{:action => '/register', :method => 'post'}
  .form-group
    .col-xs-2
      %label.control-label{:for => "age"} age
    .col-xs-10
      %input.form-control{:name => "age", :required => "", :type => "number"}/
  .form-group
    .col-xs-2
      %label.control-label{:for => "eyes"} eyes color
    .col-xs-10
      %select.form-control{:name => "eyes_color", :required => ""}
        %option blue
        %option green
        %option brown
  .form-group
    .col-xs-2
      %label.control-label{:for => "hair"} hair color
    .col-xs-10
      %select.form-control{:name => "hair_color", :required => ""}
        %option blond
        %option brown
        %option ginger
  .form-group
    .col-xs-2
      %label.control-label{:for => "skin_type"} skin type
    .col-xs-10
      %select.form-control{:name => "skin_type"}
        %option dry skin
        %option oily skin
        %option dehydrated skin
  .form-group
    .col-xs-4.col-xs-offset-4
      %input.btn.btn-block.btn-primary{:required => "", :type => "submit", :value => "ok"}/
