<div class⁼"row">
	<div class="small-10 small-centered column">
		<%= session[:user_name] %>
	</div>
</div>

<div class⁼"row">
	<div class="small-10 small-centered column">
		<%= session[:user_name] %>
	</div>
</div>

<div class⁼"row">

  <div class="small-3 small-offset-3 column">
  	Dislike
  </div>

  <div class="small-3 end column">
  	Like
  </div>

</div>