.row
  .small-10.small-centered.column
    = session[:user_name]
.row
  %embed{src:"http://youtu.be/ltQ0p2qigNg", type:"video"}
  .small-3.small-offset-3.column
    %img{src: "/images/close.png"}/
    %img{src: "/images/coeur_OFF.png"}/
  .small-3.end.column
    
/
  Caroussel
  \==================================================
#myCarousel.carousel.slide{"data-ride" => "carousel"}
  / Indicators
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
  .carousel-inner
    .item.active
      %img{alt: "First slide", src: "http://www.yves-rocher.fr/images/catalog/products/window2/15485.jpg"}/
      .container
        .carousel-caption
        %p Note: If you're viewing this page

    .item
      %img{alt: "Second slide", src: "http://www.yves-rocher.fr/images/catalog/products/window2/66855.jpg"}/
      .container
        .carousel-caption
        %p Cras justo odio

    .item
      %img{alt: "Third slide", src: "http://www.yves-rocher.fr/images/catalog/products/window2/71259.jpg"}/
      .container
        .carousel-caption
        %p One more for good measure.
        
  %a.left.carousel-control{"data-slide" => "prev", href: "#myCarousel", role: "button"}
    %span.glyphicon.glyphicon-chevron-left
  %a.right.carousel-control{"data-slide" => "next", href: "#myCarousel", role: "button"}
    %span.glyphicon.glyphicon-chevron-right
/ /.carousel
%hr/
%h3 MORE BEAUTY ADVICES
.container
  .row
    .col-md-6
      %center
        .large-6 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam dicta suscipit ducimus impedit? Quas accusamus quibusdam nisi autem, labore illo, sunt accusantium, magnam nulla ducimus non beatae, quia praesentium doloremque!
