.row
  .small-10.small-centered.column
    = session[:user_name]
.h3
  Hi Marion, it is time to take care of your skin !
%br
.row

/ gros bordel :(
/ <<<<<<< HEAD
/   %center
/     = @video
/ =======
/   %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => "//www.youtube.com/embed/ltQ0p2qigNg", :width => "560"}
/ >>>>>>> fd76b4ec6317c698b82bd2845c6731f675ea847d
  .small-3.small-offset-3.column
    %center
      %img{src: "/images/close.png"}/
      %img{src: "/images/coeur_OFF.png"}/
  .small-3.end.column
    
/ Caroussel \==================================================

#myCarousel.carousel.slide{"data-ride" => "carousel"}
  / Indicators
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "1", "data-target" => "#myCarousel"}
    %li{"data-slide-to" => "2", "data-target" => "#myCarousel"}
  .carousel-inner
    .item.active
      %img{alt: "First slide", src: "http://www.yves-rocher.fr/images/catalog/products/window2/76668.jpg"}/
      .container
        .carousel-caption
        %p Sérum Ultra Repulpant

    .item
      %img{alt: "Second slide", src: "http://www.yves-rocher.fr/images/catalog/products/window2/71911.jpg"}/
      .container
        .carousel-caption
        %p Gel Nettoyant Fraîcheur

    .item
      %img{alt: "Third slide", src: "http://www.yves-rocher.fr/images/catalog/products/window2/11865.jpg"}/
      .container
        .carousel-caption
        %p Gommage végétal effet peau douce.
        
  %a.left.carousel-control{"data-slide" => "prev", href: "#myCarousel", role: "button"}
    %span.glyphicon.glyphicon-chevron-left
  %a.right.carousel-control{"data-slide" => "next", href: "#myCarousel", role: "button"}
    %span.glyphicon.glyphicon-chevron-right
/ /.carousel
%hr
